@inherits AppComponentBase
@page "/"

<div class="container mt-4">
    <CandyGrid DataAdapter="Adapter" OnBodyRowDoubleClick="@OnBodyRowDoubleClick">
        <CandyGridColumns>
            <CandyGridColumn Title="ID" Field="@nameof(Product.ProductId)" />
            <CandyGridColumn Title="Name" Field="@nameof(Product.Name)" />
            <CandyGridColumn Title="Price" Field="@nameof(Product.Price)" />
            <CandyGridColumn Title="Stock" Field="@nameof(Product.StockCount)" />

            <CandyGridColumn Title="Date" Context="item">
                <DataTemplate>
                    @($"UID: {(item as Product).DateCreated.ToShortDateString()}")
                </DataTemplate>
            </CandyGridColumn>
        </CandyGridColumns>
    </CandyGrid>
</div>
