@inherits AppComponentBase
@page "/tabs"

<div class="container mt-4">
    <CandyTabSet @ref="TabSet" Mode="CandyTabMode.Normal">
        <CandyTab Title="Theme Selector">
            <div class="row">
                <div class="col">
                    <div>
                        This is tab 1 content <br />
                        <button class="btn btn-danger" @onclick="() => ActivateTab(2)">Activate Tab 2</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <CandyFormGroup Label="Select Theme" PrependIconClass="fas fa-layer-group"
                                    HelpText="Sample Theme Selector." Layout="CandyFormGroup.Layouts.Horizontal">
                        <select class="form-select" @onchange="async (val) => await ThemeManager.ApplyThemeAsync(val.Value as string)">
                            @foreach (var themeName in ThemeManager.ThemeNames)
                            {
                                <option value="@themeName" selected="@(themeName == ThemeManager.CurrentThemeName ? "selected" : null)">@themeName</option>
                            }
                        </select>
                    </CandyFormGroup>
                </div>
                <div class="col"></div>
            </div>
        </CandyTab>
        <CandyTab Title="Form Controls">
            <div class="row">
                <div class="col">
                    This is tab 2 content <br />
                    <button class="btn btn-danger" @onclick="() => ActivateTab(3)">Activate Tab 3</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <CandyFormGroup Label="Start Year" PrependIconClass="fas fa-calendar"
                                    HelpText="This is some sample text.">
                        <input type="number" class="form-control" @bind="Year" min="2009" max="@(DateTime.Today.Year + 1)" />
                    </CandyFormGroup>
                </div>
                <div class="col">
                    <CandyFormGroup Label="Start Year" PrependIconClass="fas fa-calendar"
                                    HelpText="This is some sample text.">
                        <input type="number" class="form-control" @bind="Year" min="2009" max="@(DateTime.Today.Year + 1)" />
                    </CandyFormGroup>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <CandyFormGroup Label="Start Year" PrependIconClass="fas fa-calendar" Layout="CandyFormGroup.Layouts.Horizontal"
                                    HelpText="This is some sample text." UseHelpTooltip="true">
                        <input type="number" class="form-control" @bind="Year" min="2009" max="@(DateTime.Today.Year + 1)" />
                    </CandyFormGroup>
                </div>
                <div class="col">
                    <CandyFormGroup Label="Start Year" PrependIconClass="fas fa-calendar" Layout="CandyFormGroup.Layouts.Horizontal"
                                    HelpText="This is some sample text." UseHelpTooltip="false">
                        <input type="number" class="form-control" @bind="Year" min="2009" max="@(DateTime.Today.Year + 1)" />
                    </CandyFormGroup>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <CandyFormGroup Label="Start Year" PrependIconClass="fas fa-calendar" Layout="CandyFormGroup.Layouts.Floating"
                                    HelpText="This is some sample text." UseHelpTooltip="true">
                        <input type="number" class="form-control" @bind="Year" min="2009" max="@(DateTime.Today.Year + 1)" />
                    </CandyFormGroup>
                </div>
                <div class="col">
                    <CandyFormGroup Label="Start Year" PrependIconClass="fas fa-calendar" Layout="CandyFormGroup.Layouts.Floating"
                                    HelpText="This is some sample text." UseHelpTooltip="false">
                        <input type="number" class="form-control" @bind="Year" min="2009" max="@(DateTime.Today.Year + 1)" />
                    </CandyFormGroup>
                </div>
            </div>
        </CandyTab>
        <CandyTab Title="Nothing Here">
            <div class="row">
                <div class="col-sm">
                    This is tab 3 content <br />
                    <button class="btn btn-danger" @onclick="() => ActivateTab(1)">Activate Tab 1</button>
                </div>
            </div>

        </CandyTab>
    </CandyTabSet>
</div>

@code{
    protected CandyTabSet TabSet { get; set; }

    protected int? Year { get; set; }

    private async Task ActivateTab(int tabNumber)
    {
        await TabSet.Tabs[tabNumber - 1].Show();
    }
}