@inherits AppComponentBase
@page "/"

<div class="container mt-4">
    <CandyGrid DataAdapter="DataAccess.ProductsDataAdapter" OnBodyRowDoubleClick="@OnBodyRowDoubleClick">
        <ToolbarTemplate>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-sm mr-2" role="group">
                    <button class="btn btn-link" type="button" @onclick="context.QueueDataUpdate"><i class="fas fa-plus"></i>&nbsp;Add New</button>
                    <button class="btn btn-link" type="button"><i class="far fa-check-square"></i>&nbsp;Select All</button>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-link" type="button"><i class="fas fa-print"></i>&nbsp;Print</button>
                    <button class="btn btn-link" type="button"><i class="fas fa-external-link-alt"></i>&nbsp;Export</button>
                </div>
            </div>
        </ToolbarTemplate>
        <CandyGridColumns>
            <CandyGridColumn Title="ID" Field="@nameof(Product.ProductId)" IsSortable="true" />
            <CandyGridColumn Title="Name" Field="@nameof(Product.Name)" IsSearchable="true">
                <HeaderTemplate>
                    @($"Field: {context.Field}")
                </HeaderTemplate>
            </CandyGridColumn>
            <CandyGridColumn Title="Description" Field="@nameof(Product.Description)" IsSortable="true" />
            <CandyGridColumn Title="Price" Field="@nameof(Product.Price)" FormatString="{0:c2}" />
            <CandyGridColumn Title="Stock" Field="@nameof(Product.StockCount)" />

            <CandyGridColumn Title="Date" Context="item">
                <DataTemplate>
                    @($"UID: {(item as Product).DateCreated.ToShortDateString()}")
                </DataTemplate>
            </CandyGridColumn>
        </CandyGridColumns>
    </CandyGrid>
</div>

@code{
    protected void OnBodyRowDoubleClick(GridInputEventArgs<object> e)
    {
        var product = e.Argument as Product;
        if (product == null)
            return;

        Console.WriteLine($"Item on {product.ProductId} Double clicked");
        product.Name = "Item was clicked!";
    }
}