@inherits AppComponentBase
@page "/"

<div class="container mt-4">
    <CandyGrid DataAdapter="DataAccess.ProductsDataAdapter" OnBodyRowDoubleClick="@OnBodyRowDoubleClick">
        <ToolbarTemplate>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-link" type="button" @onclick="context.QueueDataUpdate"><i class="fas fa-plus"></i>&nbsp;Add New</button>
                    <button class="btn btn-link" type="button"><i class="far fa-check-square"></i>&nbsp;Select All</button>
                    <button class="btn btn-link" type="button"><i class="fas fa-print"></i>&nbsp;Print</button>
                    <button class="btn btn-link" type="button"><i class="fas fa-external-link-alt"></i>&nbsp;Export</button>
                </div>
            </div>
        </ToolbarTemplate>
        <CandyGridColumns>
            <CandyGridColumn Title="ID" Field="@nameof(Product.ProductId)" IsSortable="true"
                             OnDetailsButtonClick="OnDetailsButtonClick"
                             OnEditButtonClick="OnEditButtonClick"
                             OnCellCheckedChanged="OnCellCheckChanged"/>
            <CandyGridColumn Title="Name" Field="@nameof(Product.Name)" IsSearchable="true" IsSortable="true">
                <HeaderTemplate>
                    @($"Field: {context.Field}")
                </HeaderTemplate>
            </CandyGridColumn>
            <CandyGridColumn Title="Description" Field="@nameof(Product.Description)" IsSortable="true" />
            <CandyGridColumn Title="Price" Field="@nameof(Product.Price)" FormatString="{0:c2}" />
            <CandyGridColumn Title="Stock" Field="@nameof(Product.StockCount)" />

            <CandyGridColumn Title="Date" Context="item">
                <DataTemplate>
                    @($"UID: {(item as Product).DateCreated.ToShortDateString()}")
                </DataTemplate>
            </CandyGridColumn>
        </CandyGridColumns>
    </CandyGrid>
</div>

@code{
    private void OnBodyRowDoubleClick(GridInputDataEventArgs e)
    {
        var product = e.DataItem as Product;
        if (product == null)
            return;

        Console.WriteLine($"Item on {product.ProductId} Double clicked");
        product.Name = "Item was clicked!";
    }

    private void OnDetailsButtonClick(GridInputDataEventArgs e)
    {
        e.NotifyStateChanged = true;
        Console.WriteLine($"Clicked DETAILS for ID: {(e.DataItem as Product)?.ProductId}");
    }

    private void OnEditButtonClick(GridInputDataEventArgs e)
    {
        Console.WriteLine($"Clicked EDIT for ID: {(e.DataItem as Product)?.ProductId}");
    }

    private void OnCellCheckChanged(GridCellCheckedEventArgs e)
    {
        var product = e.DataItem as Product;
        if (product == null)
            return;

        Console.WriteLine($"Checkd Change for ID: {product.ProductId}. Column: {e.Column.Field}. Value: {e.IsChecked}");
    }
}