@inherits CandyGridChildComponent
<span class="small">
    @if (Parent.StartRecordNumber <= 0)
    {
        @Parent.EmtyRecordsText
    }
    else
    {
        <text>Showing @Parent.StartRecordNumber to @Parent.EndRecordNumber of @Parent.FilteredRecordCount records</text>
    }

    @if (Parent.FilteredRecordCount != Parent.TotalRecordCount)
    {
        <text> (Filtered from @Parent.TotalRecordCount total records)</text>
    }

    &nbsp;<a style="padding: 8px;" class="badge badge-info" href="" @onclick="async () => await Grid.ResetState()" @onclick:preventDefault><i class="fas fa-undo"></i>&nbsp;Reset</a>
</span>