@inherits CandyComponentBase

@if (TabSet.Mode == CandyTabMode.Normal)
{
    <a href="javascript:void(0)" @ref="HeaderElement"
       class="nav-item nav-link @(IsFirst ? "active" : null)"
       id="@($"{Id}-tab")"
       data-bs-toggle="tab" data-bs-target="@($"#{Id}")" role="tab" aria-controls="@Id" aria-selected="false">@Title</a>
}
else
{
    <div class="card mb-1">
        <div class="card-header p-0" id="@($"{Id}-tab")">
            <a href="javascript:void(0)" @ref="HeaderElement"
               class="btn btn-link" data-bs-toggle="collapse" data-bs-target="@($"#{Id}")"
               aria-expanded="@(IsExpanded ? "true" : "false")" aria-controls="@Id">
                @Title
            </a>
        </div>

        <div id="@Id" class="collapse @(IsExpanded ? "show" : null)" aria-labelledby="@($"{Id}-tab")" data-parent="@($"#{TabSet.Id}")">
            <div class="card-body">
                @ChildContent
            </div>
        </div>
    </div>
}

@code{
    bool IsFirst => TabSet.IndexOf(this) == 0;
    bool IsExpanded => IsFirst && TabSet.Mode != CandyTabMode.AccordionCollapsed;
}