@inherits CandyGridChildComponent
<div class="d-flex flex-nowrap">
    <div class="candygrid-column-sortable text-nowrap">
        @if (Column.IsSortable)
        {
            <a href="" @onclick:preventDefault @onclick="OnColumnSortClick" class="text-light">@(Column.Title ?? Column.Field)</a>
        }
        else
        {
            <span>@(Column.Title ?? Column.Field)</span>
        }
        <i class="fas @CaretCssClass"></i>
    </div>

    @if (ShowFilter)
    {
        <div class="ml-auto" @ref="ColumnFilterElement">
            <button class="btn btn-light candygrid-column-header-button @(Column.Filter.Operator != CompareOperators.None ? "active" : null)"><i class="fas fa-filter"></i></button>
            <div style="display: none">
                <div class="candygrid-filter-dialog">
                    <form @onsubmit="OnApplyFilterClick">
                        <div class="pr-1 pl-1">
                            @if (FilterOperators.Count == 2)
                            {
                                <input type="hidden" @bind="FilterOperator" />
                            }
                            else
                            {
                                <select class="form-control custom-select custom-select-sm" @bind="FilterOperator">
                                    @foreach (var kvp in FilterOperators)
                                    {
                                        <option value="@(kvp.Key)">@kvp.Value</option>
                                    }
                                </select>
                            }

                            @if (IsBooleanInputType)
                            {
                                <input class="form-control form-control form-control-sm mt-2" type="checkbox" @bind="BooleanFilterArg" />
                            }
                            else if (IsDateInputType)
                            {
                                <input class="form-control form-control form-control-sm mt-2" type="@FilterInputType" @bind="DateFilterArg1" />
                            }
                            else
                            {
                                <input class="form-control form-control form-control-sm mt-2" type="@FilterInputType" @bind="FilterArg1" autocomplete="off" inputmode="verbatim" placeholder="value" />
                            }

                            @if (FilterOperator == CompareOperators.Between)
                            {
                                if (IsDateInputType)
                                {
                                    <input class="form-control form-control form-control-sm mt-2" type="@FilterInputType" @bind="DateFilterArg2" />
                                }
                                else
                                {
                                    <input class="form-control form-control form-control-sm mt-2" type="@FilterInputType" @bind="FilterArg2" autocomplete="off" inputmode="verbatim" placeholder="and value">
                                }
                            }
                        </div>
                        <div class="p-1 mt-2 clearfix">
                            <button class="btn btn-danger float-right btn-sm" type="button" @onclick="OnClearFilterClick"><i class="fas fa-times-circle"></i></button>
                            <button class="btn btn-success float-right btn-sm mr-1" type="button" @onclick="OnApplyFilterClick"><i class="fas fa-check-circle"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>