@inherits CandyComponentBase

<div class="@(UseHorizontalLayout ? "row" : string.Empty)">
    <label class="@(UseHorizontalLayout ? "col-sm-4 col-form-label text-end" : string.Empty)">
        @if (UseHelpTooltip && !string.IsNullOrWhiteSpace(HelpText))
        {
            <a href="javascript: void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="@HelpText" @ref="TooltipElement">
                @Label
            </a>
        }
        else
        {
            @Label
        }
    </label>
    <div class="@(UseHorizontalLayout ? "col-sm-8" : string.Empty)">

        <div class="input-group">
            @if (!string.IsNullOrWhiteSpace(PrependIconClass))
            {
                <span class="input-group-text">
                    <i class="@PrependIconClass"></i>
                </span>
            }

            @ChildContent

            @if (!string.IsNullOrWhiteSpace(AppendText))
            {
                <span class="input-group-text">
                    @AppendText
                </span>
            }
        </div>

        @if (!string.IsNullOrWhiteSpace(HelpText) && !UseHelpTooltip)
        {
            <div class="w-100">
                <small class="form-text text-muted">
                    @HelpText
                </small>
            </div>
        }
    </div>
</div>