@inherits CandyComponentBase

<CascadingValue Value="@this" Name="Parent">
    @CandyGridColumns

    <div class="candygrid-container">
        <div class="row mt-2 mb-2">
            <div class="col-lg-4 align-self-center">
                <CandyGridPaginator ButtonCount="5" />
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-sm mr-2" role="group">
                        <button class="btn btn-link" type="button"><i class="fas fa-plus"></i>&nbsp;Add New</button>
                        <button class="btn btn-link" type="button"><i class="far fa-check-square"></i>&nbsp;Select All</button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-link" type="button"><i class="fas fa-print"></i>&nbsp;Print</button>
                        <button class="btn btn-link" type="button"><i class="fas fa-external-link-alt"></i>&nbsp;Export</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 align-self-center">
                <CandyGridSearchBox />
            </div>
        </div>

        <div class="@TableContainerCssClass">
            <table class="@TableCssClass">
                <thead class="@TableHeaderCssClass">
                    <tr>
                        @foreach (var col in Columns)
                        {
                            if (col.HeaderTemplate == null)
                            {
                                <CascadingValue Value="col" Name="Column">
                                    <CandyGridColumnHeader />
                                </CascadingValue>
                            }
                            else
                            {
                                <th>
                                    @col.HeaderTemplate(col)
                                </th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (DataItems == null || DataItems.Count == 0)
                    {
                        <tr>
                            <td colspan="@Columns.Count">
                                @StatusText
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in DataItems)
                        {
                            <tr @ondblclick="(async (e) => await RaiseOnBodyRowDoubleClick(item))">
                                @foreach (var col in Columns)
                                {
                                    <td>
                                        @if (col.DataTemplate != null)
                                        {
                                            @col.DataTemplate(item)
                                        }
                                        else
                                        {
                                            <div class="@col.CssClass">
                                                <!--
                                                                                                   <div class="btn-group btn-group-sm candygrid-btn-group-sm mr-2 float-left">
                                                    <button class="btn btn-info" type="button" title="Go to details">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                    <button class="btn btn-warning" type="button" title="Edit">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                                                    <button class="btn btn-danger " type="button" title="Delete">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                                <label class="custom-control custom-checkbox mb-0 float-left mr-1">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label">KB 4320</span>
                                                </label>
                                                -->
                                                @{
                                                    var columnValue = GetColumnValue(col, item);
                                                    var stringValue = columnValue as string;

                                                    if (columnValue == null)
                                                    {
                                                        stringValue = col.EmptyDisplayString;
                                                    }
                                                    else
                                                    {
                                                        stringValue = columnValue?.ToString() ?? string.Empty;
                                                        if (!string.IsNullOrWhiteSpace(col.FormatString))
                                                        {
                                                            try
                                                            {
                                                                stringValue = string.Format(col.FormatString, columnValue);
                                                            }
                                                            catch
                                                            {
                                                                // ignore
                                                            }
                                                        }
                                                    }
                                                }
                                                <span class="float-left">@stringValue</span>
                                            </div>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-lg-4 align-self-center">
                <CandyGridPaginator ButtonCount="5" />
            </div>
            <div class="col-lg-5 align-self-center">
                <CandyGridPageInfo />
            </div>
            <div class="col-lg-3 align-self-center">
                <CandyGridPageSizer />
            </div>
        </div>
    </div>
</CascadingValue>