@inherits CandyComponentBase
<CascadingValue Value="this" Name="Parent">
    @CandyGridColumns
    <div class="candygrid-container @RootCssClass" @ref="Element">
        <div class="candygrid-overlay" style="display: @(IsLoading ? "block" : "none")">
            <div class="candygrid-overlay-content">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-lg-4 align-self-center">
                <CandyGridPaginator ButtonCount="5" />
            </div>
            <div class="col-lg-5 align-self-center">
                @if (ToolbarTemplate is not null)
                    @ToolbarTemplate(this)
            </div>
            <div class="col-lg-3 align-self-center">
                <CandyGridSearchBox @ref="SearchBox" />
            </div>
        </div>

        <div class="candygrid-table @TableContainerCssClass">
            <table class="@TableCssClass">
                <thead class="@TableHeaderCssClass">
                    <tr>
                        @foreach (var col in Columns)
                        {
                            <th width="@GetRelativeWidth(col)" class="candygrid-column-header @col.HeaderCssClass" scope="col">
                                @if (col.HeaderTemplate is null)
                                {
                                    <CascadingValue Value="col" Name="Column">
                                        <CandyGridColumnHeader @key="col" />
                                    </CascadingValue>
                                }
                                else
                                {
                                    @col.HeaderTemplate(col)
                                }
                            </th>
                        }
                    </tr>
                </thead>
                <tbody class="@TableBodyCssClass">
                    @if (DataItems is null || DataItems.Count == 0)
                    {
                        <tr>
                            <td colspan="@Columns.Count">
                                @if (!IsLoading)
                                {
                                    if (EmptyRecordsTemplate is not null)
                                    {
                                        @EmptyRecordsTemplate(this)
                                    }
                                    else
                                    {
                                        @EmtyRecordsText;
                                    }
                                }
                                else
                                {
                                    <text>&nbsp;</text>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        if (DisableVirtualization)
                        {
                            @foreach (var item in DataItems)
                            {
                                <CascadingValue Name="DataItem" Value="item">
                                    <CandyGridRow @key="item" />
                                </CascadingValue>
                            }
                        }
                        else
                        {
                            <Virtualize Items="DataItems" Context="item">
                                <CascadingValue Name="DataItem" Value="item">
                                    <CandyGridRow @key="item" />
                                </CascadingValue>
                            </Virtualize>
                        }
                    }
                </tbody>
                @if (AggregateDataItem is not null)
                {
                    <tfoot class="@TableFooterCssClass">
                        <CascadingValue Name="DataItem" Value="AggregateDataItem">
                            <CandyGridRow IsFooter="true" />
                        </CascadingValue>
                    </tfoot>
                }
            </table>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-lg-4 align-self-center">
                <CandyGridPaginator ButtonCount="5" />
            </div>
            <div class="col-lg-5 align-self-center">
                <CandyGridPageInfo />
            </div>
            <div class="col-lg-3 align-self-center">
                <CandyGridPageSizer />
            </div>
        </div>
    </div>
</CascadingValue>