@inherits CandyComponentBase

<div class="form-group @(UseHorizontalLayout ? "row" : string.Empty)">
    <label class="@(UseHorizontalLayout ? "col-sm-4 col-form-label text-right" : string.Empty)">
        @if (UseHelpTooltip && !string.IsNullOrWhiteSpace(HelpText))
        {
            <a href="javascript: void(0)" data-toggle="tooltip" data-placement="top" title="@HelpText" @ref="TooltipElement">
                @Label
            </a>
        }
        else
        {
            @Label
        }
    </label>
    <div class="input-group @(UseHorizontalLayout ? "col-sm-8" : string.Empty)">
        @if (!string.IsNullOrWhiteSpace(PrependIconClass))
        {
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="@PrependIconClass"></i>
                </span>
            </div>
        }

        @ChildContent

        @if (!string.IsNullOrWhiteSpace(AppendText))
        {
            <div class="input-group-append">
                <span class="input-group-text">
                    @AppendText
                </span>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(HelpText) && !UseHelpTooltip)
        {
            <div class="w-100">
                <small class="form-text text-muted">
                    @HelpText
                </small>
            </div>
        }
    </div>
</div>