@inherits CandyGridChildComponent
<span class="small pl-2">
    @if (Parent!.StartRecordNumber <= 0)
    {
        @Parent.EmtyRecordsText
    }
    else
    {
        <text>Showing @Parent.StartRecordNumber to @Parent.EndRecordNumber of @Parent.FilteredRecordCount records</text>
    }

    @if (Parent.FilteredRecordCount != Parent.TotalRecordCount)
    {
        <text> (Filtered from @Parent.TotalRecordCount total records)</text>
    }

    &nbsp;
    <button 
        type="button"
        class="btn btn-info btn-sm"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
        @onclick="async () => await Grid!.ResetState()" @onclick:preventDefault>
        <i class="fas fa-undo"></i>&nbsp;Reset
    </button>
</span>