@inherits CandyComponentBase

@if (Mode == CandyTabMode.Normal)
{
    <CascadingValue Name="TabSet" Value="this">
        <div id="@Id" @ref="Element">
            <ul class="nav nav-tabs" role="tablist">
                @ChildContent
            </ul>

            <div class="tab-content">
                @foreach (var tab in Tabs)
                {
                    <div class="tab-pane fade @(IndexOf(tab) == 0 ? "show active" : null)" id="@tab.Id" role="tabpanel" aria-labelledby="@($"{tab.Id}-tab")">
                        <div class="candytab-pane nav-tabs">
                            @tab.ChildContent
                        </div>
                    </div>
                }
            </div>
        </div>
    </CascadingValue>
}
else
{
    <CascadingValue Name="TabSet" Value="this">
        <div id="@Id" class="accordion" @ref="Element">
            @ChildContent
        </div>
    </CascadingValue>
}